<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.myfirstapp.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >

            <!-- .DarkActionBar -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.myfirstapp.helloworld.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.example.myfirstapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.myfirstapp.swipedemo.CollectionDemoActivity"
            android:label="@string/title_activity_collection_demo"
            android:parentActivityName="com.example.myfirstapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.myfirstapp.DrawerDemoActivity"
            android:label="@string/title_activity_drawer_demo"
            android:parentActivityName="com.example.myfirstapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.myfirstapp.helloworld.HelloWorldActivity"
            android:label="@string/title_activity_hello_world"
            android:parentActivityName="com.example.myfirstapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.myfirstapp.FragmentLayout$DetailsActivity"
            android:label="@string/title_activity_fragment_layout_details"
            android:parentActivityName="com.example.myfirstapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.myfirstapp.bitmap.ImageDetailActivity"
            android:label="@string/title_activity_image_detail"
            android:parentActivityName="com.example.myfirstapp.MainActivity"
            android:theme="@style/FullScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.myfirstapp.listviewtutorial.ex.ListWithArrayAdapter1"
            android:label="@string/title_listview_with_array_adapter"
            android:parentActivityName="com.example.myfirstapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.myfirstapp.listviewtutorial.ex.ListWithCustomAdapter"
            android:label="@string/title_activity_list_with_custom_adapter"
            android:parentActivityName="com.example.myfirstapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.myfirstapp.listviewtutorial.ex.MultipleChoiceListActivity"
            android:label="@string/title_activity_mult_and_single_choice_list"
            android:parentActivityName="com.example.myfirstapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.myfirstapp.listviewtutorial.ex.SingleChoiceListActivity"
            android:label="@string/title_activity_single_choice_list"
            android:parentActivityName="com.example.myfirstapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.myfirstapp.listviewtutorial.ex.ContextualActionListActivity"
            android:label="@string/title_activity_contextual_action_list"
            android:parentActivityName="com.example.myfirstapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.myfirstapp.listviewtutorial.ex.UndoDemoActivity"
            android:label="@string/title_activity_undo_demo"
            android:parentActivityName="com.example.myfirstapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.myfirstapp.listviewtutorial.ex.TwoItemsListActivity"
            android:label="@string/title_activity_two_items_list"
            android:parentActivityName="com.example.myfirstapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.myfirstapp.listviewtutorial.ex.ModelAndRowInteractionActivity"
            android:label="@string/title_activity_model_and_row_interaction"
            android:parentActivityName="com.example.myfirstapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.myfirstapp.listviewtutorial.ex.ExpandableListActivity"
            android:label="@string/title_activity_expandable_list"
            android:parentActivityName="com.example.myfirstapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.myfirstapp.listviewtutorial.ex.ListViewWithHeaderAndFooterActivity"
            android:label="@string/title_activity_list_view_with_header_and_footer"
            android:parentActivityName="com.example.myfirstapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.myfirstapp.listviewtutorial.ex.SimpleCursorAdapterActivity"
            android:label="@string/title_activity_simple_cursor_adapter"
            android:parentActivityName="com.example.myfirstapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
    </application>

</manifest>
